<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>My Porfolio</title>
</head>
<body>
    <%- include('partials/header') %>
<main>
    <h1>Anshith S Kumar</h1>
    <h2>Crafting Digital Experiences.</h2>

    <p>With over 5 years in customer service, I've developed a passion for programming, particularly in web development. At the moment, I'm focusing on sharpening my skills in both front-end and back-end technologies. My customer service background has equipped me with strong communication, problem-solving, and teamwork skills. Currently, I'm working on personal projects and taking online courses to continuously improve. If you're looking for a dedicated web developer with a customer-centric approach, I'd love to connect and collaborate on creating impactful online experiences!</p>
</main>
    <%- include ('partials/footer')  %>
</body>
</html>