<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Projects!</h1>
    <p>Checkout the following cool projects!</p>

    <h3>Ecommerce Website</h3>
    <p>Developed an online perfume shop using React, Node.js, and MongoDB, where users can browse, review, and purchase fragrances. Features include detailed product descriptions, dynamic review submissions, and a responsive design for easy access across devices.</p>

    <h3>Hello Blog</h3>
    <p>Developed a simple blog website with core features including the ability to write, save, edit, and delete blog posts, with basic styling. The project utilizes Node.js and Express for the backend, HTML/CSS/JavaScript for the frontend, and PostgreSQL for the database.</p>

    
</body>
</html>